<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Card List</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="h1 navbar-brand text-danger"
                   href="/">PokeNet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/investment">Investment Advice</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">Search for a Card</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/list">Card List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Sign Out</a>
            </li>
        </ul>
    </nav>
        <h2 class="text-center mt-4">Your Wish List</h2>
       <div class="d-flex flex-wrap">
            {% for card in cards %}
                <div class="position-relative m-3 text-center border rounded p-3" style="width: 200px;">
                    <form method="POST" action="{{ url_for('list_cards') }}" style="position: absolute; bottom: 10px; right: 10px;">
                        <input type="hidden" name="card_image_url" value="{{ card.images.small }}">
                        <button type="submit" style="background: white; border: none; border-radius: 50%; padding: 5px; cursor: pointer;">
                            <strong>-</strong>
                        </button>
                    </form>
                    <p class="mb-1">Name: {{ card.name }}</p>
                    <p class="mb-2">Set: {{ card.set.name }}</p>
                    <img src="{{ card.images.small}}" class="img-fluid">
                </div>
            {% endfor %}
        </div>

</body>
</html>
