<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Card Search</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="h1 navbar-brand text-danger"
                   href="/">PokeNet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/investment">Investment Advice</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">Search for a Card</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/list">Card List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Sign Out</a>
            </li>
        </ul>
    </nav>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="container mt-3">
          {% for message in messages %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
    </div>
  {% endif %}
{% endwith %}
    <h1 class="m-3">Search for a Card!</h1>
    <p class="m-3">Search for a card(s) you're looking for here.</p>
    <form method="POST">
        <div class="m-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" name="name"
                   placeholder="Enter the name of the card (e.g. Charizard ex, Rare Candy, Cycling Road)" >
        </div>
        <div class="m-3">
            <label for="set" class="form-label">Set:</label>
            <input type="text" class="form-control" name="set"
                   placeholder="Enter the set of the card (e.g. Crown Zenith, 151, Journey Together)" >
        </div>
        <div class="m-3">
            <label for="rarity" class="form-label">Rarity:</label>
            <input type="text" class="form-control" name="rarity"
                   placeholder="Enter the rarity of the card, if applicable (e.g. Common, Rare, Special Illustration Rare)" >
        </div>
        <div class="m-3">
            <label for="artist" class="form-label">Artist:</label>
            <input type="text" class="form-control" name="artist"
                   placeholder="Enter the artist of the card, if applicable (e.g. Akira Komayama)" >
        </div>
        <button type="submit" class="btn btn-danger m-3">Search</button>
    </form>
</body>
</html>